In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# Lectura de datos del archivo Storecheck_Enfriador_Respeto_Distribuidores_data.xlsm, hoja Comportamiento Enfriadores Geo
storecheck_df = pd.read_excel('/Users/luigi/Documents/DataScience_REMOTEdata_Github/01_SC-FEMSA/data/Storecheck_Enfriador_Respeto_Distribuidores_data.xlsm', sheet_name='Comportamiento Enfriadores Geo')
storecheck_df.head()

   Zona       Categoría  Mes 1  Mes 2  Vs MA
0     1  Levantamientos  466.0  463.0   -3.0
1     2  Levantamientos  385.0  381.0   -4.0
2     3  Levantamientos  727.0  738.0   11.0
3     4  Levantamientos  414.0  413.0   -1.0
4     5  Levantamientos  362.0  361.0   -1.0