In [4]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [21]:
# Lectura de datos del archivo Storecheck_Enfriador_Respeto_Distribuidores_data.xlsm, hoja Comportamiento Enfriadores Geo
storecheck_df = pd.read_excel('/Users/luigi/Documents/DataScience_REMOTEdata_Github/01_SC-FEMSA/data/Storecheck_Enfriador_Respeto_Distribuidores_data.xlsm', sheet_name='Comportamiento Enfriadores Geo')
storecheck_df.head(7)

   Zona       Categoría  Mes 1  Mes 2  Vs MA
0     1  Levantamientos  466.0  463.0   -3.0
1     2  Levantamientos  385.0  381.0   -4.0
2     3  Levantamientos  727.0  738.0   11.0
3     4  Levantamientos  414.0  413.0   -1.0
4     5  Levantamientos  362.0  361.0   -1.0
5     6  Levantamientos  417.0  410.0   -7.0
6     7  Levantamientos  153.0  158.0    5.0

In [30]:
# Total de elementos Mes 1 por Categoría
levantamientos_mes1 = storecheck_df[(storecheck_df['Categoría'] == 'Levantamientos')]['Mes 1'].sum()
# Total de elementos Mes 2 por Categoría
levantamientos_mes2 = storecheck_df[(storecheck_df['Categoría'] == 'Levantamientos')]['Mes 2'].sum()
# Total elementos vs MA Levantamientos
levantamientos_vsma = storecheck_df[(storecheck_df['Categoría'] == 'Levantamientos')]['Vs MA'].sum()
print(f"Total Levantamientos Mes 1: {levantamientos_mes1}")
print(f"Total Levantamientos Mes 2: {levantamientos_mes2}")
print(f"Total Vs MA Levantamientos: {levantamientos_vsma}")

Total Levantamientos Mes 1: 2924.0
Total Levantamientos Mes 2: 2924.0
Total Vs MA Levantamientos: 0.0

Total Levantamientos Mes 2: 2924.0