In [15]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [16]:
# Lectura de datos del archivo Storecheck_Enfriador_Respeto_Distribuidores_data.xlsm, hoja Comportamiento Enfriadores Geo
storecheck_df = pd.read_excel('/Users/luigi/Documents/DataScience_REMOTEdata_Github/01_SC-FEMSA/data/Storecheck_Enfriador_Respeto_Distribuidores_data.xlsm', sheet_name='Comportamiento Enfriadores Geo')
storecheck_df.head(7)

   Zona       Categoría  Mes 1  Mes 2  Vs MA
0     1  Levantamientos  466.0  463.0    NaN
1     2  Levantamientos  385.0  381.0    NaN
2     3  Levantamientos  727.0  738.0    NaN
3     4  Levantamientos  414.0  413.0    NaN
4     5  Levantamientos  362.0  361.0    NaN
5     6  Levantamientos  417.0  410.0    NaN
6     7  Levantamientos  153.0  158.0    NaN

In [17]:
# Total de elementos Mes 1 por Categoría Levantamientos
levantamientos_mes1 = storecheck_df[(storecheck_df['Categoría'] == 'Levantamientos')]['Mes 1'].sum()
# Total de elementos Mes 2 por Categoría Levantamientos
levantamientos_mes2 = storecheck_df[(storecheck_df['Categoría'] == 'Levantamientos')]['Mes 2'].sum()
# Total elementos vs MA Levantamientos
levantamientos_vsma = storecheck_df[(storecheck_df['Categoría'] == 'Levantamientos')]['Vs MA'].sum()
print(f"Total Levantamientos Mes 1: {levantamientos_mes1}")
print(f"Total Levantamientos Mes 2: {levantamientos_mes2}")
print(f"Total Vs MA Levantamientos: {levantamientos_vsma}")

Total Levantamientos Mes 1: 2924.0
Total Levantamientos Mes 2: 2924.0
Total Vs MA Levantamientos: 0.0

In [18]:
# Total de elementos Mes 1 por Categoría Refrigeradores
refrigeradores_mes1 = storecheck_df[(storecheck_df['Categoría'] == 'Refrigeradores')]['Mes 1'].sum()
# Total de elementos Mes 2 por Categoría Refrigeradores
refrigeradores_mes2 = storecheck_df[(storecheck_df['Categoría'] == 'Refrigeradores')]['Mes 2'].sum()
# Total elementos vs MA Refrigeradores
refrigeradores_vsma = storecheck_df[(storecheck_df['Categoría'] == 'Refrigeradores')]['Vs MA'].sum()
print(f"Total Refrigeradores Mes 1: {refrigeradores_mes1}")
print(f"Total Refrigeradores Mes 2: {refrigeradores_mes2}")
print(f"Total Vs MA Refrigeradores: {refrigeradores_vsma}")

Total Refrigeradores Mes 1: 3500.0
Total Refrigeradores Mes 2: 3453.0
Total Vs MA Refrigeradores: 0.0

In [19]:
# Total de elementos Mes 1 por Categoría Lleno
lleno_mes1 = storecheck_df[(storecheck_df['Categoría'] == 'Lleno')]['Mes 1'].sum()
# Total de elementos Mes 2 por Categoría Lleno
lleno_mes2 = storecheck_df[(storecheck_df['Categoría'] == 'Lleno')]['Mes 2'].sum()
# Total elementos vs MA Lleno
lleno_vsma = storecheck_df[(storecheck_df['Categoría'] == 'Lleno')]['Vs MA'].sum()
print(f"Total Llenos Mes 1: {lleno_mes1}")
print(f"Total Llenos Mes 2: {lleno_mes2}")
print(f"Total Vs MA Llenos: {lleno_vsma}")

Total Llenos Mes 1: 3214.0
Total Llenos Mes 2: 3080.0
Total Vs MA Llenos: 0.0

In [20]:
# Total de elementos Mes 1 por Categoría Inavasiones a Refrigerador
invasionesrefrigerador_mes1 = storecheck_df[(storecheck_df['Categoría'] == 'Invasiones a refrigerador')]['Mes 1'].sum()
# Total de elementos Mes 2 por Categoría Inavasiones a Refrigerador
invasionesrefrigerador_mes2 = storecheck_df[(storecheck_df['Categoría'] == 'Invasiones a refrigerador')]['Mes 2'].sum()
# Total elementos vs MA Inavasiones a Refrigerador
invasionesrefrigerador_vsma = storecheck_df[(storecheck_df['Categoría'] == 'Invasiones a refrigerador')]['Vs MA'].sum()
print(f"Total Invasiones a Refrigerador Mes 1: {invasionesrefrigerador_mes1}")
print(f"Total Invasiones a Refrigerador Mes 2: {invasionesrefrigerador_mes2}")
print(f"Total Vs MA Invasiones a Refrigerador: {invasionesrefrigerador_vsma}")

Total Invasiones a Refrigerador Mes 1: 478.0
Total Invasiones a Refrigerador Mes 2: 595.0
Total Vs MA Invasiones a Refrigerador: 0.0

In [21]:
# Total de elementos Mes 1 por Categoría Porcentaje refris invadidos
Porcentaje_Invadidos_mes1 = storecheck_df[(storecheck_df['Categoría'] == 'Porcentaje refris invadidos')]['Mes 1'].sum()
# Total de elementos Mes 2 por Categoría Porcentaje refris invadidos
Porcentaje_Invadidos_mes2 = storecheck_df[(storecheck_df['Categoría'] == 'Porcentaje refris invadidos')]['Mes 2'].sum()
# Total elementos vs MA Porcentaje refris invadidos
Porcentaje_Invadidos_vsma = storecheck_df[(storecheck_df['Categoría'] == 'Porcentaje refris invadidos')]['Vs MA'].sum()
print(f"Total Porcentaje refris invadidos Mes 1: {Porcentaje_Invadidos_mes1}")
print(f"Total Porcentaje refris invadidos Mes 2: {Porcentaje_Invadidos_mes2}")
print(f"Total Vs MA Porcentaje refris Invadidos: {Porcentaje_Invadidos_vsma}")

Total Porcentaje refris invadidos Mes 1: 0.0
Total Porcentaje refris invadidos Mes 2: 0.0
Total Vs MA Porcentaje refris Invadidos: 0.0

In [22]:
# Revisión de valores Porcentaje Refris Invadidos
rows_porcentaje_refris_invadidos = storecheck_df[storecheck_df['Categoría'] == 'Porcentaje refris invadidos']
print(rows_porcentaje_refris_invadidos)

    Zona                    Categoría  Mes 1  Mes 2  Vs MA
28     1  Porcentaje refris invadidos    NaN    NaN    NaN
29     2  Porcentaje refris invadidos    NaN    NaN    NaN
30     3  Porcentaje refris invadidos    NaN    NaN    NaN
31     4  Porcentaje refris invadidos    NaN    NaN    NaN
32     5  Porcentaje refris invadidos    NaN    NaN    NaN
33     6  Porcentaje refris invadidos    NaN    NaN    NaN
34     7  Porcentaje refris invadidos    NaN    NaN    NaN

In [23]:
# Verificando el tipo de dato que tienen mis filas de Categoría Porcentaje de refris invadidos
rows_porcentaje_refris_invadidos.dtypes

Zona           int64
Categoría     object
Mes 1        float64
Mes 2        float64
Vs MA        float64
dtype: object

In [24]:
# Detectar valores nulos de Categoría Porcentaje de refris invadidos
rows_porcentaje_refris_invadidos.isna()

     Zona  Categoría  Mes 1  Mes 2  Vs MA
28  False      False   True   True   True
29  False      False   True   True   True
30  False      False   True   True   True
31  False      False   True   True   True
32  False      False   True   True   True
33  False      False   True   True   True
34  False      False   True   True   True

In [25]:
# Total de elementos Mes 1 por Categoría Invasión visible
Invasion_Visible_mes1 = storecheck_df[(storecheck_df['Categoría'] == 'Invasión visible')]['Mes 1'].sum()
# Total de elementos Mes 2 por Categoría Invasión visible
Invasion_Visible_mes2 = storecheck_df[(storecheck_df['Categoría'] == 'Invasión visible')]['Mes 2'].sum()
# Total elementos vs MA Invasión visible
Invasion_Visible_vsma = storecheck_df[(storecheck_df['Categoría'] == 'Invasión visible')]['Vs MA'].sum()
print(f"Total Invasión Visible Mes 1: {Invasion_Visible_mes1}")
print(f"Total Invasión Visible Mes 2: {Invasion_Visible_mes2}")
print(f"Total Vs MA Invasión Visible: {Invasion_Visible_vsma}")

Total Invasión Visible Mes 1: 422.0
Total Invasión Visible Mes 2: 539.0
Total Vs MA Invasión Visible: 0.0